#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define U_TAPPING_TERM 240

/ {
    chosen { zmk,matrix_transform = &default_transform; };
};

/ {
    combos {
        compatible = "zmk,combos";

        LeftClickRight {
            bindings = <&mkp LCLK>;
            key-positions = <19 20>;
        };

        RightClickRight {
            bindings = <&mkp RCLK>;
            key-positions = <20 21>;
        };

        MiddleClickRight {
            bindings = <&mkp MCLK>;
            key-positions = <21 22>;
        };

    };
    behaviors {
        u_mt: u_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        u_lt: u_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp ESC     &kp Q             &kp W             &kp E               &kp R          &kp T                  &kp Y      &kp U          &kp I               &kp O              &kp P                 &kp LBKT
&kp TAB     &u_mt LEFT_GUI A  &u_mt LEFT_ALT S  &u_mt LEFT_SHIFT D  &u_mt LCTRL F  &kp G                  &kp H      &u_mt RCTRL J  &u_mt LEFT_SHIFT K  &u_mt RIGHT_ALT L  &u_mt RIGHT_GUI SEMI  &kp APOS
&kp NUBS    &kp Z             &kp X             &kp C               &kp V          &kp B                  &kp N      &kp M          &kp COMMA           &kp DOT            &kp FSLH              &trans
                                                &kp ENTER           &lt NAV SPACE  &kp BSPC               &kp BSPC   &lt SYMNUM SPACE
            >;
        };

        NAV {
            bindings = <
&trans      &kp INS           &kp BSPC          &kp UP              &kp DEL        &trans                  &kp GRAVE  &kp N1         &kp N2              &kp N3             &kp N4                &trans
&trans      &trans            &kp LEFT          &kp DOWN            &kp RIGHT      &trans                  &kp EQUAL  &kp N5         &kp N6              &kp N7             &kp N8                &trans
&kp C_NEXT  &trans            &trans            &trans              &trans         &trans                  &kp BSLH   &kp N9         &kp N0              &kp MINUS          &kp NUHS                 &trans
                                                &trans              &trans         &trans                  &trans     &trans
            >;
        };

        SYMNUM {
            bindings = <
&trans      &kp N1            &kp N2            &kp N3              &kp N4         &trans                  &trans     &kp F1         &kp F2              &kp F3             &kp F4                &kp C_VOL_UP
&trans      &kp N5            &kp N6            &kp N7              &kp N8         &trans                  &trans     &kp F5         &kp F6              &kp F7             &kp F8                &kp C_MUTE
&trans      &kp N9            &kp N0            &kp MINUS           &NUHS          &trans                  &trans     &kp F9         &kp F10             &kp F11            &kp F12               &kp C_VOL_DN
                                                &trans              &trans         &trans                  &trans     &trans
            >;
        };

        FUN {
            bindings = <
&trans      &trans            &trans            &trans              &bt BT_CLR_ALL &trans                  &trans     &trans         &trans              &trans             &trans                &trans
&trans      &trans            &trans            &trans              &trans         &trans                  &trans     &trans         &trans              &trans             &trans                &trans
&trans      &trans            &trans            &trans              &trans         &trans                  &trans     &trans         &trans              &trans             &trans                &trans
                                                &trans              &trans         &trans                  &trans     &trans
            >;
        };

        AUTO-MOUSE {
            bindings = <
&trans      &trans            &trans            &trans              &trans         &trans                  &trans     &trans         &trans              &trans             &trans                &trans
&trans      &trans            &trans            &trans              &trans         &trans                  &trans     &trans         &trans              &trans             &trans                &trans
&trans      &trans            &trans            &trans              &trans         &trans                  &trans     &trans         &trans              &trans             &trans                &trans
                                                &trans              &trans         &trans                  &trans     &trans
            >;
        };

        SCROLL {
            bindings = <
&trans      &trans            &trans            &trans              &trans         &trans                  &trans     &trans         &trans              &trans             &trans                &trans
&trans      &trans            &trans            &trans              &trans         &trans                  &trans     &trans         &trans              &trans             &trans                &trans
&trans      &trans            &trans            &trans              &trans         &trans                  &trans     &trans         &trans              &trans             &trans                &trans
                                                &trans              &trans         &trans                  &trans     &trans
            >;
        };
    };
};